@import "../../temp";

.feed-container {
  display: flex;

  .feed-box {
    width: fit-content;
    height: 92vh;
    border-right: 1px solid #3d3d3d;
    padding: 0 10px;

    .copyright {
      color: #fff;
    }
  }

  .feed-videos {
    padding: 10px;
    overflow-y: auto;
    height: 90vh;
    flex: 2;

    .video-category-text {
      font-weight: bold;
      margin-bottom: 10px;
      color: white;
    }
  }
}

@media screen and (max-width: 600px) {
  .feed-container {
    .feed-box {
      height: auto;
      padding: 0;

      .copyright {
        margin-top: 7.5px;
      }
    }
  }
}
