@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin pseudo {
  content: "";
  position: absolute;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #0f0f0f;
}
